@font-face {
  font-family: 'Yolmov';
  src: url('/services/yolmov.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.yolmov-logo {
  font-family: 'Yolmov', sans-serif;
  font-weight: normal;
  letter-spacing: 0.00em;
}
